body{
    background: #282828;
}

.header{
    margin: auto;
    background: linear-gradient(to right,#282828,#181818,#181818,#181818,#282828);
    color: white;
    text-align: center;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.header a{
    text-decoration: none;
    color: white;
}

.header a:hover{
    text-decoration: none;
    color: grey;
}

h1 {
    font-size: 50px;
}

.about {
    margin:auto;
    background: #181818;
    width: 400px;
    margin-top: 50px;
}

.about p {
    margin: auto;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.searchContainer {
    display: inline-block;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 10vw;
    margin-top: 5vh;
}
.searchForm{
    display: inline-block;
}

#searchInput {
    width: 300px;
    height: 50px;
    background: transparent;
    border: none;
    color: white;
    padding-left: 5px;
    font-size: 20px;
}

textarea:focus, input:focus{
    outline: none;
}


#searchButton {
    background: transparent;
    border: none;
    float: right;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

#searchIcon {
    width: 50px;
    height: 50px;
}

.searchWrapper {
    display: inline-block;
}

.resultsDiv {
    border: none;
    border-radius: 20px;
    margin-left: 10vw;
    margin-top: 5vh;
}

