body {
    background: #282828;
    font-family: 'Abel';
}


/*####################################
########## HEADER SEGMENT ############
######################################*/

#headerDiv {
    margin: auto;
    background: linear-gradient(to right, #282828, #181818, #181818, #181818, #282828);
    color: white;
    text-align: center;
    padding: 2px;
    font-family: 'Abel';
}

#headerDiv a {
    text-decoration: none;
    color: white;
}

#headerDiv a:hover {
    text-decoration: none;
    color: grey;
}

h1 {
    font-size: 50px;
}


/*####################################
########## HOME CSS ##################
######################################*/

.homeMainDiv {
    display: flex;
}

#shakeComponent {
    margin-top: 5vh;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

#recommendedMessage {
    color: #f6c737;
    background: transparent;
    border: none;
    font-size: 20px;
    margin-top: -5px;
    font-family: 'Abel';
    font-weight: 100;
}

#starIcon {
    width: 25px;
    height: 25px;
    margin-top: -5px;
}

#shakeButton {
    font-family: 'Abel';
    width: 200px;
    font-size: 25px;
    border: 1px solid #3cd070;
    border-radius: 10px;
    color: #3cd070;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.2);
    margin-left: 130px;
}

#shakeButton:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

#searchComponent {
    width: 40vw;
    display: inline-block;
}

#searchBar {
    display: inline-block;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 2vw;
    margin-top: 5vh;
}

#searchBar:hover {
    border-radius: 20px;
    display: inline-block;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
}

.dropdown {
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #181818;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 55px;
}

.dropdown-content p {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content p:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

#menuButton {
    border: none;
    border-radius: 20px;
    float: left;
    background: transparent;
}

#menuIcon {
    width: 50px;
    height: 50px;
}

#searchInput {
    width: 400px;
    height: 50px;
    background: transparent;
    border: none;
    color: white;
    padding-left: 15px;
    font-size: 20px;
    font-family: 'Abel';
}

#searchButton {
    background: transparent;
    border: none;
    float: right;
}

#searchIcon {
    width: 50px;
    height: 50px;
}

#searchResultsDiv {
    width: 550px;
    border: none;
    border-radius: 20px;
    margin-left: 2vw;
    margin-top: 5vh;
    background: rgba(255, 255, 255, 0.1);
    padding-left: 3px;
    padding-right: 7px;
}

#errorDiv {
    padding: 15px;
    text-align: center;
}

#wrongSearch {
    background: transparent;
    color: white;
    border: none;
    font-size: 20px;
    height: 50px;
    padding-top: 3px;
    font-family: 'Abel';
}

.alcoholic {
    color: red;
    text-align: center;
    letter-spacing: 10px;
    font-family: 'Abel';
}

.alcoholFree {
    color: greenyellow;
    text-align: center;
    letter-spacing: 15px;
    font-family: 'Abel';
}

.drinkTitle {
    background: transparent;
    color: white;
    border: none;
    font-size: 20px;
    margin-top: -5px;
    font-family: 'Abel';
    font-weight: 100;
}

#descriptionParagraph {
    background: #181818;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    width: 25vw;
    transition: 1s;
}

#descriptionParagraph:focus {
    background: #3cd070;
    width: 27vw;
    transition: 1s;
}

#ingredientsTable {
    border-collapse: collapse;
    font-size: 12px;
}

#ingredientsTable td,
th {
    border: none;
}

#addToFavouritesButton {
    background: #3cd070;
    color: white;
    margin-left: 300px;
    border: none;
    border-radius: 10px;
    height: 50px;
    font-family: 'Abel';
    font-size: 15px;
}

#addToFavouritesButton:hover {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
}

#notificationsComponent {
    background: transparent;
    margin-top: 5vh;
}

#notificationsWrapperDiv {
    background: #181818;
    border-radius: 20px;
    padding: 5px;
    opacity: 1;
    display: block;
    width: 20vw;
    height: 65vh;
    overflow-y: auto;
}

#notificationsHeaderDiv {
    display: flex;
}

#notificationsHeaderTitle {
    font-size: 25px;
    font-family: 'Abel';
    color: white;
    float: left;
}

#bellIcon {
    width: 70px;
    height: 70px;
}

.cellNotificationMessage {
    color: white;
}

#removeNotificationButton {
    background: transparent;
    border: none;
}

#cancelIcon {
    width: 30px;
    height: 30px;
}


/*####################################
########## FAVOURITE CSS #############
######################################*/

#welcomeDiv {
    display: block;
    margin: auto;
    width: 1000px;
    margin-top: 5vh;
}

#heartIcon {
    float: left;
    width: 70px;
    height: 70px;
}

#welcomeMessage {
    font-size: 50px;
    color: white;
    margin-top: 0.2em;
    margin-left: 10px;
}

#instructionsMessage {
    text-align: center;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: -0.5em;
}

#favouriteDrinksDiv {
    width: 80vw;
    border: none;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding-left: 3px;
    padding-right: 7px;
    margin: auto;
}

#favouriteDrinkTitle {
    margin: auto;
    width: 70vw;
    text-align: center;
    font-size: 50px;
    transition: 1s;
}

#favouriteDrinkTitle:focus {
    outline: none;
    font-size: 60px;
    transition: 1s;
    background: rgba(60, 208, 112, 0.7);
    border-radius: 20px;
}

#removeFavouriteDrinkButton {
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
}

#favouriteIngredientsTable {
    background: #181818;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 25px;
    font-size: 20px;
    border-collapse: collapse;
}

#favouriteIngredientsTable td {
    padding: 10px;
    transition: 1s;
    border-radius: 10px;
}

#favouriteIngredientsTable tr {
    border-bottom: 3px solid #282828;
    transition: 1s;
}

#favouriteIngredientsTable tr:last-child {
    border-bottom: none;
}

#favouriteIngredientsTable td:focus {
    background: #3cd070;
    transition: 1s;
    outline: none;
}

#titleHeaderDiv {
    display: flex;
}

#dropImageHeader {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

#ingredientsHeader {
    margin-top: 0.3em;
}

#addIngredientButton {
    background: #3cd070;
    width: 50px;
    margin: auto;
    border-radius: 20px;
    margin-right: 20px;
}

.cellIngredient {
    font-weight: bold;
}

#removeIngredientButton {
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
}

#removeIngredientImage {
    width: 25px;
    height: 25px;
}

#saveButton {
    width: 15vw;
    font-size: 25px;
    border-radius: 20px;
    color: white;
    background: #3cd070;
    border: none;
    font-family: 'Abel';
}

#saveButton:active {
    outline: none;
    transform: translateY(3px);
    background: rgba(30, 208, 112, 0.7);
}

#cancelEdittingButton {
    width: 15vw;
    font-size: 25px;
    border-radius: 20px;
    color: white;
    background: rgba(240, 52, 52, 1);
    border: none;
    font-family: 'Abel';
}

#cancelEdittingButton:active {
    outline: none;
    transform: translateY(3px);
    background: rgba(200, 52, 52, 0.7);
}


/*####################################
########## ABOUT CSS #################
######################################*/

#aboutBody {
    text-align: center;
}

#aboutMainDiv {
    margin: auto;
    text-align: left;
    background: #181818;
    width: 400px;
    margin-top: 50px;
    border-radius: 20px;
    font-family: 'Abel';
}

#aboutMainDiv p {
    margin: auto;
    color: white;
    font-size: 20px;
    font-family: 'Abel';
    padding: 10px;
}

#cocktailIcon {
    width: 250px;
    height: 250px;
    text-align: center;
}


/*####################################
########## ADDITIONAL CSS ############
######################################*/

#addToFavouritesButton:focus,
#searchButton:focus,
textarea:focus,
input:focus,
#menuButton:focus,
#removeNotificationButton:focus,
#shakeButton:focus,
#saveButton:focus,
#cancelEdittingButton:focus,
#removeFavouriteDrinkButton:focus {
    outline: none;
}

#searchButton:hover,
#menuButton:hover {
    background: grey;
    border: none;
    border-radius: 20px;
}

#shakeButton:active,
#removeFavouriteDrinkButton:active,
#addIngredientButton:active {
    transform: translateY(5px);
}

::-webkit-input-placeholder {
    font-family: 'Abel';
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #8b8787;
    border-radius: 5px;
}