body{
    background: #282828;
    font-family: 'Abel';
}

.aboutBody {
    text-align: center;
}

.header{
    margin: auto;
    background: linear-gradient(to right,#282828,#181818,#181818,#181818,#282828);
    color: white;
    text-align: center;
    padding: 2px;
    font-family: 'Abel';
}

.header a{
    text-decoration: none;
    color: white;
}

.header a:hover{
    text-decoration: none;
    color: grey;
}

h1 {
    font-size: 50px;
}

.about {
    margin:auto;
    text-align: left;
    background: #181818;
    width: 400px;
    margin-top: 50px;
    border-radius: 20px;
    font-family: 'Abel';
}

.about p {
    margin: auto;
    color: white;
    font-size: 20px;
    font-family: 'Abel';
    padding: 10px;
}

.searchContainer {
    display: inline-block;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 10vw;
    margin-top: 5vh;
}
.searchForm{
    border-radius: 20px;
    display: inline-block;
}

.searchForm:hover{
    border-radius: 20px;
    display: inline-block;
    box-shadow:
    0 0 25px rgba(255, 255, 255, 0.3);
}

#searchInput {
    width: 400px;
    height: 50px;
    background: transparent;
    border: none;
    color: white;
    padding-left: 15px;
    font-size: 20px;
    font-family: 'Abel';
}

#addToFavourites:focus,#searchButton:focus,textarea:focus, input:focus, #menuButton:focus{
    outline: none;
}


#searchButton {
    background: transparent;
    border: none;
    float: right;
}

#searchButton:hover, #menuButton:hover {
    background: grey;
    border: none;
    border-radius: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Abel';
    font-size: 20px;
  }

#searchIcon {
    width: 50px;
    height: 50px;
}

.searchWrapper {
    display: inline-block;
}

.resultsDiv {
    border: none;
    border-radius: 20px;
    margin-left: 10vw;
    margin-top: 5vh;
    background: rgba(255, 255, 255, 0.1);
    padding-left: 3px;
    padding-right: 7px;
}

.drinkName {
    background: transparent;
    color: white;
    border: none;
    font-size: 30px;
    margin-top: -5px;
    font-family: 'Abel';
    font-weight: 100;
}

.wrongSearch{
    background: transparent;
    color: white;
    border: none;
    font-size: 20px;
    height: 50px;
    padding-top: 3px;
    font-family: 'Abel';
}

.alcoholic {
    color: red;
    text-align: center;
    letter-spacing: 10px;
    font-family: 'Abel';
}

.alcoholFree {
    color: greenyellow;
    text-align: center;
    letter-spacing: 15px;
    font-family: 'Abel';
}

#ingredientsTable{
    border-collapse: collapse;
}

#ingredientsTable td,th{
    border: none;
}

#addToFavourites {
    background: #3cd070;
    color: white;
    margin-left: 370px;
    border: none;
    border-radius: 10px;
    height: 50px;
    font-family: 'Abel';
    font-size: 15px;
}

#addToFavourites:hover {
    box-shadow:
    0 0 25px rgba(255, 255, 255, 0.3);
}

#coctailIcon{
    width: 250px;
    height: 250px;
    text-align: center;
}

#menu {
    width: 50px;
    height: 50px;
    
}

#menuButton {
    border:  none;
    border-radius: 20px;
    float: left;
    background: transparent;
}

.dropdown {
    display: inline;
}
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #181818;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 55px;
  }
  
  .dropdown-content p {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content p:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .dropdown:hover .dropdown-content {display: block;}


  